<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<style type="text/css">
	a{
		color: #fff;
		text-decoration: none;
	}
</style>
</head>
<body>
	<div style="height: 100px;"></div>
	<div class="container">
		<div class="row">
			<h1 class="text-center">MarkDown 演示</h1>
		</div>
		<div style="height: 100px;"></div>
		<div class="row">
			<div class="col-md-4"><span class="btn btn-success "><a href="/goAdd">新增文章</a></span></div>
			<div class="col-md-4"><span class="btn btn-info "><a href="/markdown">markdown语法</a></span></div>
			<div class="col-md-4"><span class="btn btn-primary "><a href="/detail">详情demo</a></span></div>
		</div>
	</div>	
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>