<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/editormd/css/editormd.css" />
</head>
<body>
	<div class="container">
		<h1 class="text-center">保存成功</h1>
		<div class="row">
			<div class="col-md-4"><a href="/detail"><span class="btn btn-lg btn-success text-center">去详情页</span></a></div>
			<div class="col-md-4"><a href="/goEdit"><span class="btn btn-lg btn-success text-center">去编辑</span></a></div>
			<div class="col-md-4"><a href="/goAdd"><span class="btn btn-lg btn-success text-center">去新增</span></a></div>
		</div>
	</div>	
</body>
</html>