<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请求</title>

    <style>
        #app {
            width: 500px;
            height: 500px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
<div id="app">
    <button @click="encode">加密</button>
    <div><input type="text" v-model="content"/></div>
    <div>{{encodeText}}</div>
    <div>{{decodeText}}</div>
    <button @click="getApiData">Get请求</button>
    <button @click="postRequest">POST请求</button>
</div>
<script src="../static/js/vue.min.js" th:src="@{js/vue.min.js}"></script>
<script src="../static/js/rsa/jsencrypt.js" th:src="@{js/rsa/jsencrypt.js}"></script>
<script src="../static/js/aes/aes.js" th:src="@{js/aes/aes.js}"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
    window.onload = function () {
        var vm = new Vue({
            el: '#app',
            data: {
                rsa: {
                    publicKey: "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCJvCDW9GIBsiv9ma9r2btffIxQQHB98Pl1S2RV2PrQsK1O2yFSUf8P43l5EfAh+jiEn/k5egKEoeMRLdDZkt5afNgPYbNjiRFJP8NZTw4f3Yxp91+d04GGkeFcj59QIn/rqqHo2JLOESNae8IC1tKKQTqkwVIjLRwTIDcVmsq9NwIDAQAB"
                },
                aesPwd: "19fdaac296d84defa43e7f29",
                content: 'Hello World!',
                encodeText: "加密内容",
                decodeText: "解密内容",
                result: [],
                novels: []
            },
            http: {
                root: '/',
                headers: {
                    loginToken: "asdb",
                    from: "pc",
                    uniqueToken: "",
                    lang: "",
                    version: "",
                    equipmentId: "",
                    fCurrency: "1"
                }
            },
            methods: {
                encode: function () {
                    const encrypt = new JSEncrypt();
                    // 设置公钥
                    encrypt.setPublicKey('-----BEGIN PUBLIC KEY-----' + this.rsa.publicKey + '-----END PUBLIC KEY-----');
                    // encrypt.setPublicKey(this.rsa.publicKey);
                    // 加密+base64
                    this.encodeText = encrypt.encrypt(this.content);
                    console.log("encode=", this.encodeText);

                    // encrypt.setPublicKey(this.rsa.publicKey);
                    var decode1 = encrypt.decrypt("VHDFaE/JtspKxfI1tB+JmADEpp1R+ZPngs8mne0YJJCx9ZyB/k/Qp6CflB9zYlmM2+E+0V1uwZm79/+Ej4KQ10LjRI2eTf6b6NvkrsZRJaJpc7d8PpBVQhA3d9hQRXnadPx/d/SzsiyVzSSuJ9CCtwJer15lTvJ9/J0oRQSKJVY=");
                    console.log("decosw=",decode1);
                    var decode2 = encrypt.decryptByPublic("VHDFaE/JtspKxfI1tB+JmADEpp1R+ZPngs8mne0YJJCx9ZyB/k/Qp6CflB9zYlmM2+E+0V1uwZm79/+Ej4KQ10LjRI2eTf6b6NvkrsZRJaJpc7d8PpBVQhA3d9hQRXnadPx/d/SzsiyVzSSuJ9CCtwJer15lTvJ9/J0oRQSKJVY=");
                    console.log("decode=",decode2);
                    var str = 'abcAAA'; // 加密内容
                    var key = this.aesPwd; // 密钥
                    var iv = '1234567890123456'; // 初始向量，不设置会随机生成(当然也就无法解密了)

                    key = CryptoJS.enc.Utf8.parse(key); // **注意！如果引用了 jQuery 则需要加 "toString()"**
                    iv = CryptoJS.enc.Utf8.parse(iv); // **同上，详见 [2]**

                    var encrypted = CryptoJS.AES.encrypt(str, key, {
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                    encrypted = encrypted.toString();
                    console.log("encrypted=",encrypted);

                    var decrypted = CryptoJS.AES.decrypt(encrypted, key, {
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });

                    // 转换为 utf8 字符串
                    decrypted = CryptoJS.enc.Utf8.stringify(decrypted);
                    console.log("decrypted=",decrypted);

                },
                getApiData: function () {
                    //发送get请求
                    this.$http.get('http://172.16.1.16:9091/contract/market/symbols').then(function (res) {
                        console.log("res:", res.body);
                        var json = JSON.stringify(res.body);
                        console.log("json:", json);
                        this.novels = [];
                        this.result = res.body.result;
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                postRequest: function () {
                    //发送 post 请求
                    this.$http.post('https://www.apiopen.top/novelApi', {
                        name: "参数1",
                        url: "参数2"
                    }, {emulateJSON: true}).then(function (res) {
                        console.log("res:", res.body);
                        this.result = [];
                        this.novels = res.body.data;
                    }, function (res) {
                        console.log(res.status);
                    });
                }
            }
        });
    }

    function encodeBase64(content) {
        return btoa(content);
    }

    function decodeBase64(content) {
        return atob(content);
    }


</script>
</body>
</html>