<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" />
		<setting name="callSettersOnNulls" value="true"/>
		<!--  
		打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" /> 
    </settings>

	<typeAliases>
		<typeAlias type="top.lrshuai.SpringBootmultisource.entity.User" alias="user"  />
		<typeAlias type="java.util.Map" alias="map"  />
	</typeAliases>
</configuration>