  <head th:fragment="css-head">
  <meta charset="utf-8">
  <meta name="_ctx" th:content="@{/}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>小程序系统消息</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" th:href="@{/static/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}">
  <link rel="stylesheet" th:href="@{/static/bower_components/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/static/ztree/css/zTreeStyle/zTreeStyle.css}">
   <link rel="stylesheet" type="text/css" href="src/kkpager_orange.css" th:href="@{/static/page/src/kkpager_orange.css}" />
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
