<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/css-head :: css-head">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
  	首页
    <small>HOME</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">图表鉴赏</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<h1>欢迎，管理员大人</h1>


</section>
<script th:src="@{/static/bower_components/jquery/dist/jquery.min.js}"></script>

</body>
</html>
